[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Telegram Downloader"

[[workflows.workflow]]
name = "Run Telegram Downloader"
author = 42610829
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python telegram_downloader.py"
